:root {
  --md-primary-fg-color: #0f172a;
  --md-accent-fg-color: #2563eb;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0f172a;
  --md-accent-fg-color: #38bdf8;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2rem;
  width: auto;
}
